.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contentContainer {
  margin: 20px 0;
}

.searchField {
  width: 100%;
  z-index: 10;
}

@media (max-width: 1200px) {
  .pageContainer {
    padding: 15px;
  }

  .contentContainer {
    margin: 15px 0;
  }

  .bookItems {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .pageContainer {
    padding: 10px;
  }

  .contentContainer {
    margin: 10px 0;
  }

  .bookItems {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .bookImg {
    max-width: 100px;
  }

  .itemBtn {
    font-size: 35px;
  }
}

@media (max-width: 480px) {
  .pageContainer {
    padding: 5px;
  }

  .contentContainer {
    margin: 5px 0;
  }

  .bookItems {
    max-width: 100%;
  }

  .bookImg {
    max-width: 80px;
  }

  .itemBtn {
    font-size: 25px;
  }
}
