.menuWrapper {
  background: #e5e3e3;
}
.categoriesWrapper {
  display: flex;
  flex-wrap: wrap;
}
.topic {
  margin: 20px;
}
ul.customList {
  list-style-type: none;
  padding: 0;
}
ul.customList li {
  position: relative;
  padding-left: 1em;
}

ul.customList li::before {
  content: '-';
  position: absolute;
  left: 0;
}
