.carouselContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  border: none;
  background-color: transparent;
  font-size: 35px;
  cursor: pointer;
}

.booksContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.booksContainerGrid {
  width: 100%;
  max-width: 100px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
}

.booksContainerGrid .bookItem:nth-child(1) {
  grid-row: span 2;
}

.bookItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  transition: transform 1s ease;
}

.bookItemActive {
  animation: slideToLeft 1s ease forwards;
  overflow: hidden;
}

.bookItem:hover {
  transform: translateY(-5px);
}

.bookCover {
  width: 100%;
  min-width: 250px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.description {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: 5px;
}

.title {
  margin-bottom: 5px;
}

.price {
  font-style: italic;
}

.imgs {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.icon {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  cursor: pointer;
}
@media (max-width: 1020px) {
  .booksContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
