.footerWrapper {
  background-color: #f2eedc;
  width: 100%;
  padding: 20px;
}

.footerImgs {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.footerImg img {
  width: auto;
  height: 462px;
}
