.navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgb(143, 142, 142);
  z-index: 1;
}

.navLogo {
  width: 236px;
}

.navContent {
  display: flex;
  flex-direction: column;
}

.citySelector {
  font-size: 16px;
  border-bottom: 1px solid rgb(143, 142, 142);
  color: #555;
  cursor: pointer;
}

.navLinksContainer {
  display: flex;
  flex-wrap: wrap;
}

.navLink {
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding: 0 15px;
  margin: 5px;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-weight: 700;
  cursor: pointer;
}

.navLink:hover {
  background-color: #f0f0f0;
}
