.SearchFieldWrapper {
  display: flex;
  border-bottom: 1px solid rgb(143, 142, 142);
  height: 52px;
}
.SearchFieldBtn {
  width: 477px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  cursor: pointer;
}
.SearchFieldInpt {
  width: 879px;
  height: 51.2px;
  font-size: 18px;
}
.bookSearch {
  background-color: #f0f0f0;
  z-index: 10;
  max-height: 400px;
  overflow: scroll;
  overflow-x: hidden;
  width: 879px;
}
.bookSearchItem {
  border: 1px solid #757070;
  margin: 5px;
}
.bookSearchItem:hover {
  background-color: #ebe8e8;
}
.icons {
  display: flex;
}
.iconsBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-right: none;
  width: 142px;
}
.iconsBtn:hover {
  background-color: #f0f0f0;
}
.iconsBtn:active {
  background-color: #f0f0f0;
}
.iconImg {
  width: 40px;
}
